@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,600&display=swap');

body {
  background-color: #fafafa;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 1% 5%;
  background-color: #fff;
  width: 90%;
}

#navTitle {
  font-weight: bold;
  color: #0290ff;
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
}

.mainNav {
  display: flex;
  flex-direction: row;
}

.navMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1.9px;
  width: 13.563rem;
  list-style: none;
}

.navMenu li a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.myCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  margin: 1% 5%;
  padding: 1% 10% 1% 2%;
  font-family: 'Poppins', sans-serif;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

.genre {
  color: #121212;
  opacity: 0.5;
  font-weight: bold;
}

.title {
  color: #121212;
  font-size: larger;
  font-weight: bold;
}

.author {
  color: #4386bf;
}

.card-button {
  outline: none;
  border: none;
  background-color: #fff;
  color: #4386bf;
  cursor: pointer;
  padding-left: 0%;
  margin: 0.188rem 0.938rem 0.125rem 0;
}

.progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 45%;
}

.chart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ProgressBar {
  margin-right: 10%;
}

/* Circular Progress Bar */
.wrap {
  width: 75px;
  height: 75px;
  background: #e8e8e8;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.mask .fill {
  clip: rect(0, 37.5px, 75px, 0);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

.wrap .circle .mask,
.wrap .circle .fill {
  width: 75px;
  height: 75px;
  position: absolute;
  border-radius: 50%;
}

.wrap .circle .mask {
  clip: rect(0, 75px, 75px, 37.5px);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

.wrap .inside-circle {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background: #fff;
  line-height: 60px;
  text-align: center;
  margin-top: 7px;
  margin-left: 7px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* end of Circular Progress Bar */
.percent {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.percent h2 {
  margin-right: 10%;
  margin-bottom: 0;
  font-size: 2rem;
}

.status {
  opacity: 0.5;
  margin-top: 0;
}

.rightSection {
  border-left: solid 1px #cdcbd0;
  padding-left: 10%;
}

.bookButton {
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border: none;
  border-radius: 3px;
  background-color: #0290ff;
  width: 11.5rem;
  height: 2.063rem;
  color: #fff;
  cursor: pointer;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
}

.myForm {
  padding: 5%;
  font-family: 'Poppins', sans-serif;
}

form input {
  width: 23%;
  padding: 1% 2%;
  margin-right: 30px;
}

form select {
  width: 22%;
  padding: 1% 2%;
  margin-right: 30px;
}

form button {
  width: 15%;
  padding: 1% 2%;
  background-color: #0290ff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}
